<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="{{logo}}" /> 
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div class="dashboard_wra">
    <h2>FedPhoneLine Referral</h2>
    <ion-card class="gray">
      <ion-card-content>

        <div class="login-box">
          <section class="login_wra">
            <h3>Your Referral Code Is:</h3>
            <h2>{{referral}}</h2>
            <p>Give your Referral Code to friends and family. If they use this code to signup they will save 15% upon signup and you will save 15% on your next monthly bill.</p>
          </section>
        </div>
      
        <div class="login-box">
      
          <section class="login_wra">
            <h3>Your Referral Code Usage:</h3>
          </section>

          <ngx-datatable class="material tablestyle bootstrap striped" 
          [columnMode]="ColumnMode.force"
          [ngClass]="'tablestyle'" 
          [rows]="data" 
          [rowHeight]="50"
          [headerHeight]="50"
          [footerHeight]="50"
          [limit]="10"
          [selected]="selected"
          [selectionType]="SelectionType.multi"
          (select)="onSelect($event)"
          
          [scrollbarH]="true"
          > 
            <ngx-datatable-column name="Name"></ngx-datatable-column>
            <ngx-datatable-column name="created"></ngx-datatable-column>
            
          </ngx-datatable>
      
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-card class="bottom" slot="bottom">
  <ion-button size="small" [routerLink]="['/user/dashboard']">
    <ion-icon aria-hidden="true" name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-button>

  <!-- <ion-button size="small" [routerLink]="['/user/paynow']">
    <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
    <ion-label>Paynow</ion-label>
  </ion-button> -->

  <ion-button size="small" [routerLink]="['/user/topup']">
    <ion-icon aria-hidden="true" name="color-fill-outline"></ion-icon>
    <ion-label>Top Up</ion-label>
  </ion-button>
</ion-card>
