.login_wra{ padding:10px;}
.login_wra h2{ text-align:center; margin:10px 0 20px 0; font-size:20px; font-weight:300; color:#004e7f;}
.login_wra h3{ text-align:center; margin:0 0 10px 0; font-size:18px; font-weight:300; color:#004e7f;}
.login_wra p { font-size: 17px; line-height: 1.6rem;}
.alert-tappable {min-height: 38px !important;}
.alert-radio-label {padding-top: 1px !important;padding-bottom: 1px !important;}
.login_box{ background:#F5F5F5; border:1px solid #dfdfdf; border-radius:4px;}
.lbl{ font-size:15px; display:block; margin-bottom:3px;}
.fld{ line-height:40px; height:40px; padding:0 10px;border:1px solid #dfdfdf; width:100%; box-sizing:border-box; margin-bottom:15px; border-radius:4px;}
.forgot a, .forgot a:focus{ font-size:13px; color:#004e7f; margin-bottom:10px; display:block;}
.forgot a:hover{ color:#66ad05;}
.btn{ background:#589900; color:#fff; border:none; line-height:35px; height:35px; padding:0 30px; border-radius:4px;}
.validation-errors { color: #f00; margin-bottom: 10px; margin-top: -6px; text-align: left; margin-left: 30px; }
.ScheduleDate { display: block}	
button.disable-hover .alert-radio-icon { display: none; }
ion-row { align-items: center; text-align: center; } 
ion-list { border: 0}
ion-item { margin-bottom: 10px;  }
.f25 {font-size: 25px;}
