ion-row { align-items: center;text-align: center;    }
ion-item { border-radius: 30px !important;font-size: 0.9em;margin-bottom: 10px;box-shadow: none !important; }
.login_wra{ padding:10px;}
.login_wra h2{ text-align:center; margin:10px 0 20px 0; font-size:24px; font-weight:300; color:#004e7f;}
.login_box{ background:#F5F5F5; padding:15px; border:1px solid #dfdfdf; border-radius:4px;}
.validation-errors { color: #f00; margin-bottom: 10px; margin-top: -6px; text-align: left; margin-left: 30px; }	
.red-txt { color: #000; font-size: 15px; margin: 10px 0;}
.block { display: block; font-weight:bold; margin-top: 8px; }
.item-inner { padding-left:0; border-bottom: 1px solid #ddd; }
.login-content { background: #fff;
    .logo-row { padding-top: 10px;padding-bottom: 20px;    }
    .login-box { background:#F5F5F5; padding:5px; border:1px solid #dfdfdf; border-radius:4px;  margin-bottom:15px;  }
    .signup-col { margin: 0px 16px 0px 16px;padding-bottom: 20px;   }
    .item-inner { border-bottom-color: #ffffff !important;box-shadow: none !important;    }
    .submit-btn { background: #589900;border-radius: 30px !important;border: 1px solid #ffffff;    } 
    .register-btn { color: #589900;font-size: 0.8em;  }
}