<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="{{logo}}" /> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">call_forwarding</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dashboard_wra">
    <h2>FedPhoneLine Call Forwarding</h2>
    <ion-card class="gray">
      <ion-card-content class="ion-no-padding"> 
        <form [formGroup]="registerData" (ngSubmit)="do_call_forwarding(registerData.value)">
          <ion-list>
            <ion-item lines="none">
                <!-- <ion-label static>Number of Rings</ion-label> -->
                <ion-select label="Number of Rings" name="timeout" formControlName="timeout" (ionBlur)="logValidationErrors()" value="timeout">
                  <ion-select-option *ngFor="let num of numbers" value="{{num.id}}">{{num.id}}</ion-select-option>
                </ion-select>
            </ion-item>
            <div class="validation-errors" *ngIf="formErrors.timeout">{{formErrors.timeout}}</div>
          </ion-list>
          <div formArrayName="contacts">
            <div *ngFor="let contact of contactFormGroup.controls; let k = index;">
              <ion-list [formGroupName]="k">
                <div class="heading4">{{k+1}}. Forwarding Number and Description</div>
                <ion-row>
                    <ion-col col-8>          
                      <ion-item lines="none">
                        <ion-input label="Forwarding Number" label-placement="floating" fill="none" type="tel" class="tel" minlength="10" maxlength="10" value="" placeholder="Forwarding Number" formControlName="number" [readonly]="isEnable"></ion-input>
                      </ion-item>
                      <div class="validation-errors" *ngIf="formErrors.number">{{formErrors.number}}</div>
                    </ion-col>
                    <ion-col col-4>
                        <ion-button *ngIf="k > 0" small color="danger" type="button" (click)="removeItem(k)"> <ion-icon item-left name="trash"></ion-icon> </ion-button>
                    </ion-col>
                </ion-row>      
                <ion-item lines="none">
                  <ion-input label="Description" label-placement="floating" fill="none" type="text" value="{{description}}" placeholder="Description" minlength="4" formControlName="description" [readonly]="isEnable"></ion-input>
                </ion-item>
                <div class="validation-errors" *ngIf="formErrors.number">{{formErrors.number}}</div>
              </ion-list>
            </div>
          </div>
          <ion-row>
            <ion-col col-6>
              <ion-button color="secondary" full type="submit" [disabled]="!registerData.valid || buttonDisabled">SAVE</ion-button>
            </ion-col>
            <ion-col col-6>
              <ion-button color="primary" full type="button"  [disabled]="!registerData.valid || buttonDisabled || buttonDisabled2" (click)="addItem()">ADD+</ion-button>
            </ion-col>
          </ion-row> 
        </form>

      </ion-card-content>
    </ion-card>
    <p><b>Note: </b>When entering Forwarding Phone Numbers do not enter dashes or spaces</p>
    <p><b>PREMIUM</b> Account Holders: Click here to learn how to add/edit remove forwarding numbers: <a href="https://youtu.be/6ZN7rVr3Avo?si=6xiLAfMQM5Huy3Cf">https://youtu.be/6ZN7rVr3Avo?si=6xiLAfMQM5Huy3Cf</a></p>
  </div>

</ion-content>

<ion-card class="bottom" slot="bottom">
  <ion-button size="small" [routerLink]="['/user/dashboard']">
    <ion-icon aria-hidden="true" name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-button>

  <!-- <ion-button size="small" [routerLink]="['/user/paynow']">
    <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
    <ion-label>Paynow</ion-label>
  </ion-button> -->

  <ion-button size="small" [routerLink]="['/user/topup']">
    <ion-icon aria-hidden="true" name="color-fill-outline"></ion-icon>
    <ion-label>Top Up</ion-label>
  </ion-button>
</ion-card>