<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="{{logo}}" /> 
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  

  <div class="dashboard_wra">
    <h2>Update Password</h2>
    <ion-card class="gray">
      <ion-card-content> 
        <form [formGroup]="registerData" (ngSubmit)="do_change_password(registerData.value)">

          <ion-list>
            <ion-item lines="none">
              <ion-input label="New Password" label-placement="floating" fill="none"  type="password" name="password" formControlName="password" (ionChange)="logValidationErrors()"></ion-input>          
            </ion-item>          	
            <div class="validation-errors" *ngIf="formErrors.password">{{formErrors.password}}</div>

            <ion-item lines="none">
                <ion-input label="Confirm Password" label-placement="floating" fill="none" type="password" name="confirm_password" formControlName="confirm_password" (ionChange)="logValidationErrors()"></ion-input>          
              </ion-item>          	
              <div class="validation-errors" *ngIf="formErrors.confirm_password">{{formErrors.confirm_password}}</div>        
          
          
          <ion-row>
            <ion-col class="signup-col">
              <ion-button class="submit-btn" full type="submit" [disabled]="!registerData.valid">Update</ion-button>
            </ion-col>
          </ion-row>

        </ion-list>
          
        </form>
      </ion-card-content>
    </ion-card>  
  </div>
</ion-content>

<ion-card class="bottom" slot="bottom">
  <ion-button size="small" [routerLink]="['/user/dashboard']">
    <ion-icon aria-hidden="true" name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-button>

  <!-- <ion-button size="small" [routerLink]="['/user/paynow']">
    <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
    <ion-label>Paynow</ion-label>
  </ion-button> -->

  <ion-button size="small" [routerLink]="['/user/topup']">
    <ion-icon aria-hidden="true" name="color-fill-outline"></ion-icon>
    <ion-label>Top Up</ion-label>
  </ion-button>
</ion-card>