<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img src="{{logo}}" /> 
    <!-- <ion-title>login</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Terminate Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dashboard_wra">
    <h2>Terminate Account</h2>
    <ion-card class="gray">
      <ion-card-content>
        <section class="login_wra">
          <p><b>Important</b>: Are you sure? Once terminated no more calls can be received to this FedPhoneLine number. The account will not be able to be reactivated once terminated.</p>
        </section>    
        
        <ion-button color="danger" full type="button" (click)='terminate_account()'>Terminate Account?</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-card class="bottom" slot="bottom">
  <ion-button size="small" [routerLink]="['/user/dashboard']">
    <ion-icon aria-hidden="true" name="home"></ion-icon>
    <ion-label>Home</ion-label>
  </ion-button>

  <!-- <ion-button size="small" [routerLink]="['/user/paynow']">
    <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
    <ion-label>Paynow</ion-label>
  </ion-button> -->

  <ion-button size="small" [routerLink]="['/user/topup']">
    <ion-icon aria-hidden="true" name="color-fill-outline"></ion-icon>
    <ion-label>Top Up</ion-label>
  </ion-button>
</ion-card>