ion-label {
    font-size: 14px;
}
ion-card-content {
    padding: 0;
}
ion-item {
    text-wrap:wrap;
}
ion-checkbox {
    margin-right: 25px;
    --size: 28px;
    --checkbox-background-checked: #6815ec;
}

ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #6815ec;
}